extends layout

block content
  h1= title

  ul
    each category in list_categories
      li
        a(href=category.url) #{category.name}
        - const categoryCount = category_counts.find(c => c.category._id.equals(category._id));
        if (categoryCount)
          span : #{categoryCount.count} item(s)
        else
          span No items in this category

    else
      li There are no categories.
