extends layout

block content
  h1 Gold Overview


  h2 #[strong Quantity: ] #{gold.quantity}

  h2 
    a(href='/catalog/gold/update') Deposit or withdraw gold

  h2 #[strong Recent Transactions: ]

  table.gold-transactions
    tr
      th Date
      th Balance 
      th Note
    each transaction in gold.transactions.slice().reverse()
      tr.transaction
        - const options = { year: 'numeric', month: 'short', day: 'numeric' };
        td.transaction-date #{transaction.date.toLocaleDateString(undefined, options)}
        td #{transaction.prevQuantity}
        td.transaction-note.italic #{transaction.note} 
    else
      tr No transactions