doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js", integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid App')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li
                a(href='/catalog')
                  img(class='icon clickable' alt='home icon' src='/images/icons/home.svg')
                  | #[strong Home]
              li
                a(href='/catalog/items')
                  img(class='icon clickable' alt='backpack icon' src='/images/icons/backpack.svg')
                  | All Items
              li
                a(href='/catalog/categories') 
                  img(class='icon clickable' alt='category icon' src='/images/icons/category.svg')
                  | All categories
              li
                a(href='/catalog/items/equippable') 
                  img(class='icon clickable' alt='swords icon' src='/images/icons/swords.svg')
                  | Equipped Items
              li
                a(href='/catalog/gold')
                  img(class='icon clickable' alt='coin icon' src='/images/icons/coin.svg')
                  | Gold
              li
                hr
              li
                a(href='/catalog/category/create')
                  img(class='icon clickable' alt='new folder icon' src='/images/icons/create_new_folder.svg')
                  | Create new category 
              li
                a(href='/catalog/item/create')
                  img(class='icon clickable' alt='add circle icon' src='/images/icons/add_circle.svg')
                  | Create new item
              li
                a(href='/catalog/gold/update') 
                  img(class='icon clickable' alt='currency exchange icon' src='/images/icons/currency_exchange.svg')
                  | Deposit or withdraw gold

        main(class='col-sm-10')
          block content
      footer(class='row')
        p
          | Site by Sameer N. 
          a(href='https://github.com/snaeem3' class='clickable' target='_blank' rel='noopener noreferrer')
            img(class='icon gitHub clickable' alt='github icon' src='/images/icons/github.svg')