extends layout

block content
  main
    h1 Log In
    form(action="", method="POST")
      label(for="username") Username
      input(name="username", placeholder="username@email.com", type="text", value=typeof username !== 'undefined' ? username : '')
      label(for="password") Password
      input(name="password", type="password", value=typeof password !== 'undefined' ? password : '')
      button Log In

    if errors
      ul
        each error in errors
          li.error= error.msg
    
    p Don't have an account? 
    a(href="/auth/sign-up") Sign Up
